 <!DOCTYPE HTML>
 <html> 
     <head>
          <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HobbyHubQuiz</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
         <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i" rel="stylesheet">
   <style>
   h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align:center;
}
h2 {
    font-family: 'Playfair Display', serif;
    color: teal;
    
}

body {
    background-image: url("https://image.freepik.com/free-vector/dark-watercolor-background-design_1034-738.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#D9D4D2;
    border:2px solid white;
}
.image {
    width:40px;
    height:40px;
}
.tips {
    color: #333A42 ;
}
.footer {
    font-family:'Playfair Display', serif;
    text-align:center;
    color:white;
}
.navbar {
    float:left;
    text-align:center;
    font-family: 'Playfair Display', serif;
    color: #102C4C;
}

li a {
    display: block;
    color: #102C4C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: teal;
    color:white;
    
}

.bold {
    font-weight: bold;
    color: teal;
}
.divText {
    background-color:#D9D4D2;
    border:2px solid white;
    padding:6px;
    text-align:center;
    font-family: 'Playfair Display', serif;
}

.tricks {
    background-color: #D9D4D2;
    border: 2px solid white;
    padding: 6px;
    font-family: 'Playfair Display', serif;
}
.button {
     font-size:16px;
     padding: 12px;
     background-color: white;
     border:solid black;
     color:black;
     font-family:'Playfair Display', serif;
}
 
.button:hover {
    background-color: teal;
    color: white;
    padding: 12px;
    border:solid white;
} 
.star {
    text-align:left;
    font-size:20px;
    color: #102C4C;
}

.personal {
    font-size: 20px;
    color: #102C4C;
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    font-style: italic;
}

.divTest { 
    background-color:#D9D4D2;
    border:2px solid white;
    padding:6px;
    text-align:left;
    font-family: 'Playfair Display', serif;
}

.cursorcustom {
    cursor: url("http://www.rw-designer.com/cursor-view/23178.png"), auto;
}
</style>
    </head>
      <body> 
        <h1>Hobby Hub</h1>
        <div>
             <ul>
          <li class="navbar" ><a  href="/">Home</a></li>
          <li class="navbar"><a class="active" href="/quiz">Hobby Finder Quiz</a></li>
          <li class="navbar"><a href="/tips">Tips and Tricks</a></li>
          <li class="navbar"><a href="/start">How to Start Your Hobby</a></li>
          <li class="navbar"><a  href="/results">Hobby Categories</a></li>
        </ul>
        </div> <br>
        <div class="divText">
        <h2>Hobby Finder Quiz!</h2>
        <h2 style="font-size:20px;color:black">Hi! Welcome to the quiz! </h2>
        <form method=POST>
    <%@sports = 0 %>
    <%@outdoors = 0 %>
    <%@mind = 0  %>
    <%@performing = 0 %>
    <% @arts = 0 %>
        <h3>Where would you like to do this activity?</h3>
         <input type="radio" name="a" value="location"> Outdoors
         <input type="radio" name="b" value="location">Indoors
         <input type="radio" name="c" value="location">No Preference
<%if params[:name]=="a"%>
       <%@outdoors += 1%>
      <%@sports += 1%> 
<%elsif params[:name]=="b"%>
      <%@mind +=1 %>
      <%@performing += 1%>
      <%@arts += 1%>
      <%@sports += 1 %>
<%elsif params[:name]== "c"%>
      <%@sports += 1%>
      <%@outdoors += 1%>
      <%@mind += 1 %>
      <%@performing += 1%>
      <%@arts += 1 %>
      <%end%>
     <br>
           <a href="/q2"> <button class="button">Submit</a></button>
        </form>
        </div>
        <br>

        <footer class="footer">
          <p>Created by: Amy Ma, Brynne Bursack, Alice Breternitz</p>
        </footer>
</body>
</html>