 <!DOCTYPE HTML>
 <html> 
     <head>
          <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HobbyHubQuiz</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
        <style>
          h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align:center;
}
h2 {
    font-family: 'Playfair Display', serif;
    color: teal;
    
}

body {
    background-image: url("https://image.freepik.com/free-vector/dark-watercolor-background-design_1034-738.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#D9D4D2;
    border:2px solid white;
}
.image {
    width:40px;
    height:40px;
}
.tips {
    color: #333A42 ;
}
.footer {
    font-family:'Playfair Display', serif;
    text-align:center;
    color:white;
}
.navbar {
    float:left;
    text-align:center;
    font-family: 'Playfair Display', serif;
    color: #102C4C;
}

li a {
    display: block;
    color: #102C4C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: teal;
    color:white;
    
}

.bold {
    font-weight: bold;
    color: teal;
}
.divText {
    background-color:#D9D4D2;
    border:2px solid white;
    padding:6px;
    text-align:center;
    font-family: 'Playfair Display', serif;
}

.tricks {
    background-color: #D9D4D2;
    border: 2px solid white;
    padding: 6px;
    font-family: 'Playfair Display', serif;
}
.button {
     font-size:16px;
     padding: 12px;
     background-color: white;
     border:solid black;
     color:black;
     font-family:'Playfair Display', serif;
}
 
.button:hover {
    background-color: teal;
    color: white;
    padding: 12px;
    border:solid white;
} 
.star {
    text-align:left;
    font-size:20px;
    color: #102C4C;
}

.personal {
    font-size: 20px;
    color: #102C4C;
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    font-style: italic;
}

.divTest { 
    background-color:#D9D4D2;
    border:2px solid white;
    padding:6px;
    text-align:left;
    font-family: 'Playfair Display', serif;
}

.cursorcustom {
    cursor: url("http://www.rw-designer.com/cursor-view/23178.png"), auto;
}
        </style>
    </head>
      <body class="cursorcustom"> 
        <h1>Hobby Hub</h1>
        <div>
        <ul>
          <li class="navbar" ><a  href="/">Home</a></li>
          <li class="navbar"><a href="/quiz">Hobby Finder Quiz</a></li>
          <li class="navbar"><a href="/tips">Tips and Tricks</a></li>
          <li class="navbar"><a href="/start">How to Start Your Hobby</a></li>
          <li class="navbar"><a class="active" href="/results">Hobby Categories</a></li>
        </ul>
        </div> <br>
        <div class="divText">
               <h3 class="bold">Art</h3>
        <p>There are many hobbies you can start under the art category. You can express your creativity through painting, dancing, photography, and much more. Art is great because you don't have to stick to a certain format or follow any rules. There are endless posibilities in art. Even if you don't believe you are good at art, practicing and having fun making whatever you want is worth it.<p> 
        <img src="https://image.flaticon.com/icons/svg/948/948535.svg" class="image">
        <img src="https://image.flaticon.com/icons/svg/970/970075.svg" class="image">
        <img src="https://image.flaticon.com/icons/svg/972/972325.svg" class="image">
     
          <h3 class="bold">Outdoors</h3>  
          <p>If you like to be in the great outdoors and see nature then we recommend starting a hobby outside. The best thing about the outdoors is that you can do most things outside. Painting, sports, playing music, and so much more. Gardening is also a good hobby that can last a long time and be extremely rewarding. </p>
          <img src="https://image.flaticon.com/icons/svg/862/862894.svg" class="image">
          <img src="https://image.flaticon.com/icons/svg/896/896977.svg" class="image">
          <img src="https://image.flaticon.com/icons/svg/877/877576.svg" class="image">
       
         <h3 class="bold">Mind Challenging</h3> 
         <p>You may be thinking, 'What the heck does mind challenging mean??'. Well, mind challenging is basically anykind of activity that trains or challenges your brain. You may be the type of person who wants to sit in front of the fire and open a good book. Some hobbie suggestions: reading, puzzles, writing, sudoku, riddles, crossword puzzles, and chess.</p>
         <img src="https://image.flaticon.com/icons/svg/936/936748.svg" class="image">
         <img src="https://image.flaticon.com/icons/svg/808/808489.svg" class="image">
         <img src="https://image.flaticon.com/icons/svg/817/817215.svg" class="image">
         <img src="https://image.flaticon.com/icons/svg/704/704985.svg" class="image">
      
            <h3 class="bold">Performing Arts</h3>
            <p>Do you want to perform or showcase a talent? Performing arts may be perfect for you! Theatre, music, and other talents that you can show others are fun and for people who want to </p>
            <img src="https://image.flaticon.com/icons/svg/808/808494.svg" class="image">
            <img src="https://image.flaticon.com/icons/svg/820/820187.svg" class="image">
            <img src="https://image.flaticon.com/icons/svg/936/936760.svg" class="image">
            <h3 class="bold">Sports</h3>
            <p>Sports are perfect for those who want to feel active and energized. With the multitude of sports in the world you are bound to find something you will like. Sports open you up to communities of people, events, and new experiences. </p>
            <img src="https://image.flaticon.com/icons/svg/946/946991.svg" class="image">
            <img src="https://image.flaticon.com/icons/svg/988/988727.svg" class="image">
            <img src="https://image.flaticon.com/icons/svg/158/158268.svg" class="image">
            <img src="https://image.flaticon.com/icons/svg/893/893831.svg" class="image">
        </div>
        <footer class="footer">
          <p>Created by: Amy Ma, Brynne Bursack, Alice Breternitz</p>
        </footer>
</body>
</html>