<!DOCTYPE html> 
<html> 
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HobbyHub - Start a hobby</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
         <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i" rel="stylesheet">
         <style>
           h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align:center;
}
h2 {
    font-family: 'Playfair Display', serif;
    color: teal;
    
}

body {
    background-image: url("https://image.freepik.com/free-vector/dark-watercolor-background-design_1034-738.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#D9D4D2;
    border:2px solid white;
}
.image {
    width:40px;
    height:40px;
}
.tips {
    color: #333A42 ;
}
.footer {
    font-family:'Playfair Display', serif;
    text-align:center;
    color:white;
}
.navbar {
    float:left;
    text-align:center;
    font-family: 'Playfair Display', serif;
    color: #102C4C;
}

li a {
    display: block;
    color: #102C4C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: teal;
    color:white;
    
}

.bold {
    font-weight: bold;
    color: teal;
}
.divText {
    background-color:#D9D4D2;
    border:2px solid white;
    padding:6px;
    text-align:center;
    font-family: 'Playfair Display', serif;
}

.tricks {
    background-color: #D9D4D2;
    border: 2px solid white;
    padding: 6px;
    font-family: 'Playfair Display', serif;
}
.button {
     font-size:16px;
     padding: 12px;
     background-color: white;
     border:solid black;
     color:black;
     font-family:'Playfair Display', serif;
}
 
.button:hover {
    background-color: teal;
    color: white;
    padding: 12px;
    border:solid white;
} 
.star {
    text-align:left;
    font-size:20px;
    color: #102C4C;
}

.personal {
    font-size: 20px;
    color: #102C4C;
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    font-style: italic;
}

.divTest { 
    background-color:#D9D4D2;
    border:2px solid white;
    padding:6px;
    text-align:left;
    font-family: 'Playfair Display', serif;
}

.cursorcustom {
    cursor: url("http://www.rw-designer.com/cursor-view/23178.png"), auto;
}
         </style>
    </head>
      <body class="cursorcustom"> 
        <h1>Hobby Hub</h1>
        <div>
            <ul>
          <li class="navbar" ><a href="/">Home</a></li>
          <li class="navbar"><a href="/quiz">Hobby Finder Quiz</a></li>
          <li class="navbar"><a href="/tips">Tips and Tricks</a></li>
          <li class="navbar"><a class="active" href="/start">How to Start Your Hobby</a></li>
          <li class="navbar"><a  href="/results">Hobby Categories</a></li>
           
        </ul>
        </div> <br>
        <div class="divText">
        <h2>How to Start Your Hobby</h2>
        <p>It may be hard to find the motivation to start something but we have some simple tips to jump into a new hobby. First, you will want to decide what hobby you want to pursue. We suggest you take our Hobby Finder Quiz to get some ideas on what would be good to think about. Next, you will need to prepare. If supplies are needed, find some cheap starting supplies instead of investing in expensive supplies at first. Third, you jump right into it. No excuses, no </p> <br><hr>
         <p class="personal">Personal Story:</p> <p> Before I took this quiz I was lost: a ship without a rudder, a map wthiout north, a sim without its controller.  had been spending my time directing traffic. I loved being a traffic director, but my total lack of knowledge and training meant that I was a disrupted civil affairs.  I  knew I needed a new hobby. I tried everything I could think of: standing in one place for hours, becoming fabulous but I eventually became too fabulous to function, and even tinkering with my bathroom sink only I found myself too lonely to reach for the wrench. Nothing stuck. Then I found Hobby Hub! Now I'm a changed Sim (although I still can't spell)! Hobby Hub saved me and now I'm a proud member of the Chica-Disco Club! -Jon Bot</p> 
         </div>
         <footer class="footer">
          <p>Created by: Amy Ma, Brynne Bursack, Alice Breternitz</p>
        </footer>
</html>